/* _button.scss */

$btn_color_default: #FFF !default;
//$btn_color_blue: #053A8A;
$btn_color_red: #E2232C;
$btn_color_orange: #F3971F;
$btn_color_green: #0FBC27;

@function btnColor($color) {
	@return darken($color, 20%);
}

@mixin newButton($color){
	padding: 10px 16px;
	font-style: 14px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #ccc;
	border-radius: percentage(5/100);
	color: #535353;
	background-color: $color;
	cursor: pointer;
	&:hover{
		opacity: 0.7;
	}
}

.btn-default{
	@include newButton($btn_color_default);
}

.btn-blue{
	@extend .btn-default;
	$btn_color_blue: blue !default;
	border-color: $btn_color_blue;
	background-color: $btn_color_blue;
	color: #FFF;
	&:hover{
		background-color: btnColor($btn_color_blue);
	}
}
.btn-red{
	@extend .btn-default;
	border-color: $btn_color_red;
	background-color: $btn_color_red;
	color: #FFF;
	&:hover{
		opacity: 1;
		background-color: saturate($btn_color_red, 90%);
	}
}
.btn-orange{
	@extend .btn-default;
	border-color: $btn_color_orange;
	background-color: $btn_color_orange;
	color: #FFF;
	&:hover{
		background-color: btnColor($btn_color_orange);
	}
}
.btn-green{
	@extend .btn-default;
	border-color: $btn_color_green;
	background-color: $btn_color_green;
	color: #FFF;
	&:hover{
		background-color: btnColor($btn_color_green);
	}
}